<app-banner-inner></app-banner-inner>
<div class="container padded" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center" [@flyIn]>

    <div class="divi" fxFlex="30">
        <h2>Address</h2>
        <mat-card>
            <p>
                110 William St,<br>
                Perth WA 6000,<br>  
                Australia.
            </p>
            <p>
                <i class="fa fa-phone"></i>: +1300 667 552
            </p>
            <p>
                <i class="fa fa-fax"></i>: +1300 667 552
            </p>
            <p>
                <i class="fa fa-envelope"></i>: 
                <a href="mailto:confusion@food.net">info@lotf.net</a>
            </p>
            <div class="contactBtn">
                <a mat-raised-button href=""><i class="fa fa-phone"></i> Call</a>
                <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
                <a mat-raised-button href=""><i class="fa fa-envelope-o"></i> Email</a>
            </div>
        </mat-card>
    </div>
    <div class="divi" fxFlex="50">
        <h2>Feedback</h2>
        <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field class="full-width">
                    <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
                    <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
                    <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="full-width">
                    <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" required pattern="[0-9]*">
                    <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput formControlName="email" placeholder="Email" type="email" required email>
                    <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
                </mat-form-field>
            </p>

            <table class="form-size">
                <td>
                    <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
                </td>
                <td>
                    <mat-select placeholder="How?" formControlName="contacttype">
                        <mat-option *ngFor="let ctype of contactType" [value]="ctype">
                        {{ ctype }}
                        </mat-option>
                    </mat-select>
                </td>
            </table>

            <p>
                <mat-form-field class="full-width">
                    <textarea matInput formControlName="message" placeholder="Your Feedback" rows=3></textarea>
                </mat-form-field>
            </p>
            <button [disabled]="feedbackForm.invalid" type="submit" mat-button class="background-primary text-floral-white">Submit</button>
        </form>
    </div>
</div>

<app-map></app-map>